/* Love Symbol #2: #4F3D63 */
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #4f3d63;
  background-image: url(../images/crystals-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f6e084;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 24px;
  text-shadow: 0 0 8px white;
}
.hidden {
  opacity: 0 !important;
}
.logo,
.about,
.search,
.lyrics-div {
  transition: all 1s ease-in;
}
/* ----- LOGO ----- */
.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo svg {
  z-index: -2;
  transform: rotate(-10deg);
}
.logo p {
  position: absolute;
  margin: 0;
  top: 7.2rem;
  left: 8rem;
  z-index: -1;
  color: #c500a4;
  text-shadow: 0 0 8px white, 0 0 20px black;
  font-family: "Vampiro One", cursive;
  font-size: 4.5em;
  transform: rotate(-30deg);
}

/* ----- ABOUT ----- */
.about,
.lyrics-div {
  display: flex;
  flex-direction: column;
  background-color: #ffffff66;
  padding: 0.75rem;
  margin-top: -5.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
  color: #18324d;
}
.about p {
  margin: 0;
}
.princeify {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #c500a4;
  text-shadow: 0 0 8px white, 0 0 20px black;
}

/* ----- FORM ----- */
.search {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  transition: all 1s ease-in;
}
.search p {
  margin-top: 0.5rem;
}
.search input {
  width: 3em;
}
.search button {
  background-color: #bbb;
}
.search-lock {
  position: fixed;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(#4f3d63, #4f3d6300);
  height: 25vh;
  padding: 0.75rem;
  margin: 0;
}

/* ----- LYRICS ----- */
.lyrics-div {
  opacity: 1;
  margin-top: 1rem;
}
.lyrics-div h3,
.lyrics-div h5 {
  margin: 0;
  text-align: center;
}
.lyrics-div p {
  font-size: 0.75em;
}

/* ---------- MEDIA QUERIES ---------- */
/* mobile */
@media only screen and (max-width: 416px) {
}
/* tablet */
@media only screen and (min-width: 417px) and (max-width: 769px) {
}
/* desktop */
@media only screen and (min-width: 770px) {
}
