body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #4f3d63;
  background-image: url(../images/crystals-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f6e084;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 24px;
  text-shadow: 0 0 8px white;
}
.hidden {
  opacity: 0 !important;
}
.logo,
.about,
.search,
.lyrics-div {
  transition: all 1s ease-in;
}
/* ----- LOGO ----- */
.logo {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: baseline;
}
.logo svg {
  z-index: -2;
  transform: rotate(-10deg);
}
.logo p {
  position: absolute;
  margin: 0;
  top: 7.2rem;
  left: 8rem;
  z-index: -1;
  color: #c500a4;
  text-shadow: 0 0 8px white, 0 0 20px black;
  font-family: "Vampiro One", cursive;
  font-size: 4.5em;
  transform: rotate(-30deg);
}

/* ----- ABOUT ----- */
.about,
.lyrics-div {
  display: flex;
  flex-direction: column;
  background-color: #ffffff66;
  padding: 0.75rem;
  margin-top: -5.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.75rem;
  color: #18324d;
}
.about p {
  margin: 0;
}
.princeify {
  font-family: "Vampiro One", cursive;
  color: #c500a4;
  text-shadow: 0 0 8px white, 0 0 20px black;
}

/* ----- FORM ----- */
.search {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.search p {
  margin-top: 0.5rem;
}
.search input {
  width: 3em;
}
.search button {
  background-color: #bbb;
  border-radius: 5px;
}
.search-lock {
  position: fixed;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(#4f3d63, #4f3d6300);
  height: 25vh;
  padding: 0.75rem;
  margin: 0;
}

/* ----- LYRICS ----- */
.lyrics-div {
  opacity: 1;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.lyrics-div h3,
.lyrics-div h5 {
  margin: 0;
  text-align: center;
}
.lyrics-div p {
  font-size: 0.75em;
}

/* ----- COPYRIGHT NOTE ----- */
.copyright {
  position: fixed;
  bottom: 0;
  font-size: 0.5em;
  color: #18324d;
  z-index: -1;
}

/* ---------- MEDIA QUERIES ---------- */
/* mobile portrait */
@media only screen and (max-width: 416px) and (min-aspect-ratio: 4/3) {
  /* default */
}
/* mobile landscape */
@media only screen and (max-height: 416px) and (min-aspect-ratio: 4/3) {
  .search input {
    width: 5rem;
  }
  .search-lock {
    width: 100vw;
  }
}
/* small tablet portrait */
@media only screen and (min-width: 417px) and (max-aspect-ratio: 4/3) {
  body {
    justify-content: center;
    align-items: center;
  }
  .app {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  aside,
  .lyrics-div {
    width: 45vw;
    overflow-y: scroll;
  }
  .logo p {
    position: absolute;
    margin: 0;
    top: 17.3rem;
    left: 8.5rem;
  }
  .about {
    margin-left: 4rem;
    margin-top: -3rem;
  }
  .lyrics-div {
    max-height: 90vh;
  }
}
/* large tablet portrait */
@media only screen and (min-width: 770px) and (max-aspect-ratio: 4/3) {
  .app {
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
  }
  aside {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
  }
  .logo p {
    position: absolute;
    margin: 0;
    top: 7.2rem;
    left: 8rem;
  }
  .about {
    width: 50%;
    position: absolute;
    top: 4rem;
    left: 17rem;
    padding: 1.25rem;
    line-height: 1.75em;
  }
  .search {
    position: absolute;
    top: 15rem;
    left: 15rem;
  }
  .search input {
    width: 8rem;
  }
  .lyrics-div {
    align-self: center;
    padding: 1.5rem;
    font-size: 1.5em;
    max-height: 70vh;
  }
  .lyrics-div h3 {
    font-size: 2.5em;
  }
  .lyrics-div h5 {
    font-size: 1em;
  }
}
/* laptop */
@media only screen and (min-height: 420px) and (min-aspect-ratio: 4/3) {
  .app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo svg {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .logo p {
    position: absolute;
    margin: 0;
    top: 8.2rem;
    left: 9rem;
  }
  aside,
  .lyrics-div {
    width: 45vw;
    overflow-y: scroll;
  }
  .about {
    position: absolute;
    top: 23.5rem;
    left: 0rem;
    width: 40%;
    line-height: normal;
  }
  .search {
    width: 40%;
    position: absolute;
    top: 29rem;
    left: 4.5rem;
  }
  .lyrics-div {
    width: 40%;
    max-height: 85vh;
  }
  .lyrics-div h3,
  .lyrics-div h5 {
    margin: 0;
    text-align: center;
  }
  .lyrics-div h3 {
    font-size: 1.17em;
  }
  .lyrics-div h5 {
    font-size: 0.83em;
  }
  .lyrics-div p {
    font-size: 0.75em;
  }
}
/* desktop */
@media only screen and (min-height: 717px) and (min-aspect-ratio: 4/3) {
  .search {
    top: 34rem;
  }
}
